.home .rectangle-1 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_12.png') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.home .hello-rasyad-gajah-manik {
  position: absolute;
  left: 75px;
  bottom: 1.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #D9D9D9;
}
.hello-rasyad-gajah-manik-sub18 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
  color: #D9D9D9;
}
.hello-rasyad-gajah-manik {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
  line-height: 1.333;
  color: #D9D9D9;
}
.home .vector {
  width: 16px;
  height: 18px;
}
.home .cibell {
  position: absolute;
  right: 0px;
  bottom: 16px;
  display: flex;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
}
.home .head {
  position: relative;
  margin: 0 7px 28px 5px;
  width: calc(100% - 12px);
  height: 50px;
  box-sizing: border-box;
}
.home .beranda {
  margin: 0 5px 20px 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  color: #D9D9D9;
}
.home .smansasi {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #E5857B;
}
.home .sma-negeri-1-sidikalang-adalah-sekolah-yang-berlandaskan-iman-ilmu-pengetahuan-dan-teknologi-serta-berwawasan-lingkungan {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 8px;
  color: #000000;
}
.home .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home .hallo {
  position: absolute;
  left: 40px;
  top: 31px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home .container-4 {
  border-radius: 21px;
  background: #E8CCC7;
  position: relative;
  margin-bottom: 28px;
  display: flex;
  padding: 51px 142.8px 40px 0;
  width: 100%;
  box-sizing: border-box;
}
.home .mata-pelajaran {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #F1B2B2;
}
.home .biologi {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  color: #F8E9D6;
}
.home .frame-4 {
  margin: 0 5px 25px 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.home .materi {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.home .pilih-materi-yang-ingin-anda-kuasai {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.home .container-6 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home .vector-1 {
  width: 4px;
  height: 8px;
}
.home .cichevron-right-md {
  display: flex;
  width: 4px;
  height: 8px;
  box-sizing: border-box;
}
.home .container-3 {
  border-radius: 50px;
  background: #D9D9D9;
  position: relative;
  margin: 3px 0;
  display: flex;
  padding: 21px 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.home .group-21 {
  border-radius: 21px;
  background: #E5857B;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 47px 21px;
  width: 100%;
  box-sizing: border-box;
}
.home .latihan {
  margin: 0 10.5px 83px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.home .vector-2 {
  width: 4px;
  height: 8px;
}
.home .cichevron-right-md-1 {
  display: flex;
  width: 4px;
  height: 8px;
  box-sizing: border-box;
}
.home .group-14 {
  border-radius: 50px;
  background: rgba(217, 217, 217, 0.8);
  position: relative;
  margin: 71px 0px 0 0;
  display: flex;
  padding: 21px 0;
  height: 50px;
  flex-grow: 1;
  flex-basis: 50px;
  box-sizing: border-box;
}
.home .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .latih-kemampuanmu-dengan-berlatih {
  position: absolute;
  left: 19px;
  top: 57px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 10px;
  color: #000000;
}
.home .group-24 {
  border-radius: 21px;
  background: #F1B2B2;
  position: relative;
  margin-right: 5px;
  display: flex;
  padding: 24px 5px 5px 17.5px;
  flex-grow: 1;
  flex-basis: 180px;
  box-sizing: border-box;
}
.home .mempermudah-belajar-anda-dengan-menonton-video-materi {
  margin: 0 8.4px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 10px;
  color: #000000;
}
.home .vector-3 {
  width: 4px;
  height: 8px;
}
.home .cichevron-right-md-2 {
  display: flex;
  width: 4px;
  height: 8px;
  box-sizing: border-box;
}
.home .group-15 {
  border-radius: 50px;
  background: rgba(217, 217, 217, 0.8);
  position: relative;
  margin-top: 38px;
  display: flex;
  padding: 21px 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.home .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home .video {
  position: absolute;
  left: 22px;
  top: 24px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}
.home .group-25 {
  border-radius: 21px;
  background: #E8CCC7;
  position: relative;
  display: flex;
  padding: 57px 5px 5px 5px;
  flex-grow: 1;
  flex-basis: 180px;
  box-sizing: border-box;
}
.home .container-7 {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 5px);
  box-sizing: border-box;
}
.home .frame-11 {
  margin: 0 5px 153px 5px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  box-sizing: border-box;
}
.home .rectangle-29 {
  border-radius: 5px;
  background: #FFFFFF;
  align-self: center;
  width: 134px;
  height: 5px;
}
.home .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .container {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  position: absolute;
  top: 148px;
  right: 30px;
  width: 174px;
  height: 203px;
}
.home .vector-4 {
  width: 16px;
  height: 16.3px;
}
.home .group-8 {
  margin: 0.7px 0 1px 0;
  display: flex;
  width: 16px;
  height: 16.3px;
  box-sizing: border-box;
}
.home .group {
  width: 18px;
  height: 18px;
}
.home .group-10 {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.home .vector-7 {
  width: 12px;
  height: 15px;
}
.home .group-11 {
  margin: 1px 0 2px 0;
  display: flex;
  width: 12px;
  height: 15px;
  box-sizing: border-box;
}
.home .container {
  margin: 0 0 11px 16.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  box-sizing: border-box;
}
.home .rectangle-30 {
  border-radius: 5px;
  background: #E5857B;
  margin-right: 166.5px;
  width: 50px;
  height: 5px;
}
.home .nav-home {
  opacity: 0.8;
  background: rgba(217, 217, 217, 0.8);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0 27px 0;
  box-sizing: border-box;
}
.home {
  background: #45496A;
  padding: 48px 25px 10px 25px;
  box-sizing: border-box;
}
