.latihan-4 .epback {
  margin-top: 3px;
  width: 24px;
  height: 24px;
}
.latihan-4 .materi {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  color: #E8CCC7;
}
.latihan-4 .group-31 {
  background: #45496A;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 31px 0 32px 30px;
  width: 100%;
  box-sizing: border-box;
}
.latihan-4 .bab-i {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #F1B2B2;
}
.latihan-4 .sitologi {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  color: #F8E9D6;
}
.latihan-4 .frame-12 {
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.latihan-4 .organel-pada-sel-tumbuhan-yang-merupakan-tempat-penyimpanan-cadangan-makanan-adalah {
  margin-bottom: 27px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .rectangle-281 {
  border-radius: 50px;
  background: #E5857B;
  width: 50px;
  height: 50px;
}
.latihan-4 .a {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .group-35 {
  border-radius: 50px;
  background: #E5857B;
  position: relative;
  margin-right: 8px;
  display: flex;
  padding: 13px 19.9px 14px 19px;
  box-sizing: border-box;
}
.latihan-4 .nukleus {
  margin: 13.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .frame-16 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.latihan-4 .rectangle-283 {
  border-radius: 50px;
  background: #E5857B;
  width: 50px;
  height: 50px;
}
.latihan-4 .b {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .group-351 {
  border-radius: 50px;
  background: #E5857B;
  position: relative;
  margin-right: 8px;
  padding: 13px 19px 14px 19px;
  width: 50px;
  box-sizing: border-box;
}
.latihan-4 .leukoplas {
  margin: 13.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .frame-17 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.latihan-4 .rectangle-285 {
  border-radius: 50px;
  background: #E5857B;
  width: 50px;
  height: 50px;
}
.latihan-4 .c {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .group-352 {
  border-radius: 50px;
  background: #E5857B;
  position: relative;
  margin-right: 8px;
  display: flex;
  padding: 13px 19.6px 14px 19px;
  box-sizing: border-box;
}
.latihan-4 .sitoplasma {
  margin: 13.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .frame-18 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.latihan-4 .rectangle-287 {
  border-radius: 50px;
  background: #E5857B;
  width: 50px;
  height: 50px;
}
.latihan-4 .d {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .group-353 {
  border-radius: 50px;
  background: #E5857B;
  position: relative;
  margin-right: 8px;
  padding: 13px 19px 14px 19px;
  width: 50px;
  box-sizing: border-box;
}
.latihan-4 .sitosol {
  margin: 13.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .frame-19 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.latihan-4 .rectangle-289 {
  border-radius: 50px;
  background: #E5857B;
  width: 50px;
  height: 50px;
}
.latihan-4 .e {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .group-354 {
  border-radius: 50px;
  background: #E5857B;
  position: relative;
  margin-right: 8px;
  padding: 13px 19px 14px 19px;
  width: 50px;
  box-sizing: border-box;
}
.latihan-4 .ribosom {
  margin: 13.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.latihan-4 .frame-20 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.latihan-4 .container {
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 0 376px 30px;
  width: 100%;
  box-sizing: border-box;
}
.latihan {
  background: rgba(69, 73, 106, 0.85);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
