.location .basemap-image {
  background: url('../assets/images/basemap_image.png') 50% / contain no-repeat;
  width: 430px;
  height: 932px;
}
.location .peta {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 30px 339px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  color: #45496A;
}
.location .vector {
  width: 14px;
  height: 20px;
}
.location .mdilocation {
  margin-bottom: 125px;
  display: flex;
  align-self: center;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.location .rectangle-43 {
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.location .sma-negeri-1-sidikalang {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 0 8px 3px 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2.4px;
  color: #000000;
}
.location .sidikalang-sumatera-utara {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 0 8px 44px 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.location .rute {
  margin: 10px 15px 10px 0;
  display: inline-block;
  width: 245px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 20px;
  color: #000000;
}
.location .vector-1 {
  width: 4px;
  height: 8px;
}
.location .cichevron-right-md {
  display: flex;
  width: 4px;
  height: 8px;
  box-sizing: border-box;
}
.location .group-15 {
  border-radius: 50px;
  background: rgba(217, 217, 217, 0.8);
  position: relative;
  display: flex;
  padding: 21px 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.location .group-28 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  background: #7D8BAE;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 13px 5px 24px;
  width: 100%;
  box-sizing: border-box;
}
.location .group-30 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  background: url('../assets/images/rectangle_34.jpeg') 50% / cover no-repeat;
  position: relative;
  margin: 0 30px 34px 30px;
  display: flex;
  flex-direction: column;
  padding: 50px 12px 9px 11px;
  width: calc(100% - 60px);
  box-sizing: border-box;
}
.location .vector-2 {
  width: 16px;
  height: 16.3px;
}
.location .group-8 {
  margin: 0.7px 0 1px 0;
  display: flex;
  width: 16px;
  height: 16.3px;
  box-sizing: border-box;
}
.location .group {
  width: 18px;
  height: 18px;
}
.location .group-10 {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.location .vector-5 {
  width: 12px;
  height: 15px;
}
.location .group-11 {
  margin: 1px 0 2px 0;
  display: flex;
  width: 12px;
  height: 15px;
  box-sizing: border-box;
}
.location .container {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  box-sizing: border-box;
}
.location .rectangle-30 {
  border-radius: 5px;
  background: #E5857B;
  margin-left: 3px;
  width: 50px;
  height: 5px;
}
.location .nav-home {
  opacity: 0.8;
  background: rgba(217, 217, 217, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0 27px 0;
  width: 100%;
  box-sizing: border-box;
}
.location .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.location .rectangle-32 {
  border-radius: 5px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  width: 134px;
  height: 5px;
}
.location {
  background: #45496A;
  display: flex;
  padding-top: 50px;
  box-sizing: border-box;
}
