.materi-2 .epback {
  margin-top: 3px;
  width: 24px;
  height: 24px;
}
.materi-2 .materi {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  color: #E8CCC7;
}
.materi-2 .group-31 {
  background: #45496A;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 31px 0 32px 30px;
  width: 100%;
  box-sizing: border-box;
}
.materi-2 .bab-i {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #F1B2B2;
}
.materi-2 .sitologi {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  color: #F8E9D6;
}
.materi-2 .frame-12 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.materi-2 .sejarah-sel-1-robert-hooke-16351703-merupakan-ilmuwan-inggris-yang-pertama-sekali-menemukan-istilah-sel-yakni-cellulae-cellulae-adalah-ruang-ruang-kecil-yang-berupa-ronggakamar-kosong-lume-nsel-yang-diamati-tersebut-berasal-dari-sayatan-abus-tutup-botol-qoercus-suber-dan-merupakan-sel-matiisi-lumen-kosong-2-robert-brown-1833-merupakan-ilmuwan-skotlandia-yang-pertama-sekali-menemukan-inti-sel-pada-sayatan-sel-anggrek-inti-sel-itu-disebutnya-dengan-nukleus-nukleus-merupakan-struktur-terpenting-dari-sel-3-felix-dujardin-1835-merupakan-ilmuwan-perancis-yang-pertama-kali-mengemukakan-cairan-sel-yang-hidup-merupakan-bagian-terpenting-dari-sel-4-johanes-purkinje-merupakan-ilmuwan-eropa-yang-menggantikan-istilah-sarcode-cairan-sel-yang-hidup-tersebut-dengan-protoplasma-protoplasma-adalah-bahan-embrio-yang-terdapat-pada-setiap-sel-telur {
  margin-bottom: 25.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.sejarah-sel-1-robert-hooke-16351703-merupakan-ilmuwan-inggris-yang-pertama-sekali-menemukan-istilah-sel-yakni-cellulae-cellulae-adalah-ruang-ruang-kecil-yang-berupa-ronggakamar-kosong-lume-nsel-yang-diamati-tersebut-berasal-dari-sayatan-abus-tutup-botol-qoercus-suber-dan-merupakan-sel-matiisi-lumen-kosong-2-robert-brown-1833-merupakan-ilmuwan-skotlandia-yang-pertama-sekali-menemukan-inti-sel-pada-sayatan-sel-anggrek-inti-sel-itu-disebutnya-dengan-nukleus-nukleus-merupakan-struktur-terpenting-dari-sel-3-felix-dujardin-1835-merupakan-ilmuwan-perancis-yang-pertama-kali-mengemukakan-cairan-sel-yang-hidup-merupakan-bagian-terpenting-dari-sel-4-johanes-purkinje-merupakan-ilmuwan-eropa-yang-menggantikan-istilah-sarcode-cairan-sel-yang-hidup-tersebut-dengan-protoplasma-protoplasma-adalah-bahan-embrio-yang-terdapat-pada-setiap-sel-telur-sub3 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.333;
}
.materi-2 .vector-2 {
  width: 41.7px;
  height: 41.7px;
}
.materi-2 .mdiarrow-right-thin-circle-outline {
  margin-left: 110.7px;
  display: flex;
  align-self: center;
  width: 41.7px;
  height: 41.7px;
  box-sizing: border-box;
}
.materi-2 .container {
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 32.7px 24.2px 30px;
  width: 100%;
  box-sizing: border-box;
}
.materi-1 {
  background: rgba(69, 73, 106, 0.85);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
