.property-1-variant-2 .vector {
  width: 16px;
  height: 16.3px;
}
.property-1-variant-2 .group-8 {
  margin: 0.7px 0 1px 0;
  display: flex;
  width: 16px;
  height: 16.3px;
  box-sizing: border-box;
}
.property-1-variant-2 .group {
  width: 18px;
  height: 18px;
}
.property-1-variant-2 .group-10 {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.property-1-variant-2 .vector-3 {
  width: 12px;
  height: 15px;
}
.property-1-variant-2 .group-11 {
  margin: 1px 0 2px 0;
  display: flex;
  width: 12px;
  height: 15px;
  box-sizing: border-box;
}
.property-1-variant-2 .container {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  box-sizing: border-box;
}
.property-1-variant-2 .rectangle-30 {
  border-radius: 5px;
  background: #E5857B;
  margin-left: 3px;
  width: 50px;
  height: 5px;
}
.property-1-variant-2 {
  opacity: 0.8;
  background: rgba(217, 217, 217, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0 27px 0;
  box-sizing: border-box;
}
